<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1LgmmnMrR4wU3-x9A-WzoHDlO4MLIL0c</string>
	<key>GCM_SENDER_ID</key>
	<string>861499216098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transportAppIub</string>
	<key>PROJECT_ID</key>
	<string>iub-transport-app</string>
	<key>STORAGE_BUCKET</key>
	<string>iub-transport-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861499216098:ios:532e95b2a44b66eab2cebb</string>
</dict>
</plist>